   .center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  input[type=submit] {
    padding:5px 15px; 
    background:rgb(28, 206, 174);
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
input[type=text] {
    background-color: white;
    border: 2px solid black;
  }
  a {
    background-color:rgb(28, 206, 174);;
    color: rgb(52, 11, 188);
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  a:hover {
    background-color: yellow;
  }
  
  a:active {
    background-color: red;
  }
