<!-- <html>

<head>
   <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css')}}">
</head>

<body class="center">
    <form action="" method="POST">
      Username:<br>
      <input type="text" name="username" id="username"><br>
      Password:<br>
      <input type="text" name="pwd" id="password"><br>
      Confirm Password:<br>
      <input type="text" name="c_pwd" id="re_password"><br>
      Date of Birth:<br>
      <input type="text" name="dob" id="dob" ><br>
      Email:<br>
      <input type="text" name="mail" id="mail"><br>
      <br>
      <input type="submit" value="Submit" id="signup_btn">
    </form>

  </body>
  <script src="static/sign_up.js"></script>

  </html> -->

  <html>

<head>
   <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css')}}">
</head>

<body class="center">
    <form name="transaction-entry">
      Username:<br>
      <input type="text" id="username" name="username"><br>
      Password:<br>
      <input type="text" id="password" name="pwd"><br>
      Confirm Password:<br>
      <input type="text" id="re_password" name="c_pwd"><br>
      Date of Birth:<br>
      <input type="text" id="dob" name="dob" ><br>
      Email:<br>
      <input type="text" id="mail" name="mail"><br>
      <br>
      <input type="submit" id="signup_btn" value="Submit">
    </form>

  </body>
  <script src="static/sign_up.js"></script>
  </html>